<footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="/nosotros">nosotros</a>
                <a href="/anuncios">anuncios</a>
                <a href="/blog">blog</a>
                <a href="/contacto">contacto</a>
            </nav>
            <p>{{getDerechos 'derechos reservados'}} {{getAnio}}</p>
        </div>
</footer>