<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienes raices</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{> header}}
    <h1 class="fw-300 centrar-texto">Casa en venta en la playa</h1>
    <img src="img/destacada.jpg" alt="imagen destacada">
    <main class="contenedor seccion contenido-centrado">
        <div class="resumen-propiedad">
            <p class="precio">$3.000.000</p>
            <ul class="iconos-caracteristicas">
                <li>
                    <img src="img/icono_wc.svg" alt="icono wc">
                    <p>3</p>
                </li>
                <li>
                    <img src="img/icono_estacionamiento.svg" alt="icono autos">
                    <p>3</p>
                </li>
                <li>
                    <img src="img/icono_dormitorio.svg" alt="icono dormitorio">
                    <p>4</p>
                </li>
            </ul>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique mattis nulla, ut porta sapien consectetur cursus. Etiam mollis tellus elit, vel aliquam lectus consequat eget. Sed congue nulla nec augue dignissim efficitur in in nisi. Nunc quis odio euismod, egestas mauris sit amet, tempus massa. Donec sollicitudin, ante et pretium convallis, erat purus tincidunt odio, ut rutrum enim dolor quis risus. Aliquam vulputate, nisl at venenatis lobortis, nibh ipsum vulputate odio, quis vulputate velit dolor ac mi. In id cursus leo. Nunc pretium dui id nibh malesuada fermentum.
        </p>
        <p>
            Fusce enim velit, ultrices non mollis eget, ullamcorper eu nisi. Nunc lorem leo, pretium id massa vitae, venenatis laoreet lacus. Phasellus mattis lorem ex, ac consequat ante mollis nec. Vivamus ac lobortis felis. Donec ut mi nec nunc finibus pretium. Vivamus faucibus felis in eleifend cursus. Nulla tellus mi, varius vel convallis nec, faucibus ut odio. Vestibulum varius vulputate velit vel accumsan. Morbi nec tincidunt felis, eu iaculis elit.
        </p>
    </main>
    {{> footer}}
</body>
</html>