<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bienes raices</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{> header}}
    <main class="contenedor seccion contenido-centrado">
        <h1 class="fw-300 centrar-texto">Nuestro blog</h1>
        <article class="entrada-blog">
            <div class="imagen">
                <img src="img/blog1.jpg" alt="entrada blog">
            </div>
            <div class="texto-entrada">
                <a href="/entrada">
                    <h4>Terraza en el techo</h4>
                </a>
                <p>escrito el: <span>20/20/2015</span>  por: <span>admin</span></p>
                <p>consejos aqui</p>
            </div>
        </article>
        <article class="entrada-blog">
            <div class="imagen">
                <img src="img/blog2.jpg" alt="entrada blog">
            </div>
            <div class="texto-entrada">
                <a href="/entrada">
                    <h4>Terraza en el piso</h4>
                </a>
                <p>escrito el: <span>20/20/2019</span>  por: <span>admin</span></p>
                <p>consejos aqui</p>
            </div>   
         </article>
         <article class="entrada-blog">
            <div class="imagen">
                <img src="img/blog3.jpg" alt="entrada blog">
            </div>
            <div class="texto-entrada">
                <a href="/entrada">
                    <h4>Terraza en el techo</h4>
                </a>
                <p>escrito el: <span>20/20/2015</span>  por: <span>admin</span></p>
                <p>consejos aqui</p>
            </div>
        </article>
        <article class="entrada-blog">
            <div class="imagen">
                <img src="img/blog4.jpg" alt="entrada blog">
            </div>
            <div class="texto-entrada">
                <a href="/entrada">
                    <h4>Terraza en el piso</h4>
                </a>
                <p>escrito el: <span>20/20/2019</span>  por: <span>admin</span></p>
                <p>consejos aqui</p>
            </div>   
         </article>
    </main>
    {{> footer}}
</body>
</html>